@media screen and (max-width:699px){
    img.landscapeIMG{
        display: none;
    }
    img.portraitIMG{
        display: block;
    }
}
@media screen and (min-width:700px){
    html, body {
        font-size: 12px;
    }
    p {
        width: 650px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1024px){
    p {
        width: 1000px;
    }
}
html, body{
    margin: 0;
    padding: 0;
    font: 14px;
}
img{
    margin: 0 auto;
    width: 100%;
}
.portraitIMG {
    display: none;
}
.landscapeIMG {
    display: block;
}
